<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <% unless @blog.image.url.nil? %>
  <strong>Image:</strong>
  <%= image_tag @blog.image.url, size: '150x150' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', blogs_path %>
